/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
	BARVY
	czechitas  #b92e81
	pozadi     #bdc3c7
	tmava      #31363b
	delitka    #3f464d
	portfolio  #e74c3c
	facebook   #3b5998
	twitter    #1da1f2
*/


body {
	background-color: #bdc3c7;
}

h1 {
	font-size: 25px;
	font-family: 'Montserrat', sans-serif;
}

.foto {
	width: 250px;
	position: relative;
	top: -20px;
	left: -20px;
}

.logo {
	background-color: #b92e81;
	border-radius: 50%;
	position: absolute;
	top: 140px;
	left: 175px;
}

.profil {
	background-color: #31363b;
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	width: 250px;
	padding: 20px;
	position: relative;
	margin: 40px;
} 
